@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Poppins", sans-serif;
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #632EE3;
    --color-secondary: #9F62F2;
}

;

.btn-primary {
    @apply bg-gradient-to-r from-[#632EE3] to-orange-900   border-none text-white transition-all duration-1000
}

.btn-primary:hover {
    @apply bg-gradient-to-l  to-[#632EE3]   from-orange-900 ;
  }




.title {
    @apply md:text-3xl text-[22px] font-bold
}

.sub-title {
    @apply md:text-xl text-lg
}
p {
    font-family: "Roboto", sans-serif;
}